{% extends 'base.html.twig' %}

{% block menu %}
    {{ parent() }}
    <li><a href="{{ path('registro') }}">Registo</a></li>
{% endblock %}

{% block body %}
<h1 class="titulo">Torneo de robots sigue l&iacute;neas ITMxli 2017</h1>
<p>
    El Instituto Tecnol&oacute;gico de Mexicali y el Club de Rob&oacute;tica ITMxli invitan a la comunidad estudiantil al Torneo de Robots Sigue L&iacute;neas  2017 a celebrarse a cabo el 18 de noviembre de 2017 en las instalaciones del Instituto Tecnol&oacute;gico de Mexicali.
</p>

<section>
    <h2>Categor&iacute;a &uacute;nica</h2>
    <p>
        <strong>Seguidor de l&iacute;neas:</strong> Consiste en diseñar, construir y poner a prueba un robot m&oacute;vil aut&oacute;nomo que sigue una trayectoria definida por una l&iacute;nea en el menor tiempo posible.
    </p>
    
    <h2>Lineamientos</h2>
    <ul>
        <li>
            Inscripciones abiertas desde el 05 de septiembre de 2017 hasta las 18:00 horas del 23 de septiembre de 2017.
        </li>
        <li>
            Podr&aacute;n participar alumnos formalmente inscritos en el periodo escolar 2017-2, formando equipos los cuales se compondr&aacute;n de por lo menos 2 y m&aacute;ximo 3 integrantes de distintos semestres y carreras.
        </li>
        <li>Cada equipo debe contar con un maestro asesor.</li>
        <li>
            El torneo se llevar&aacute; a cabo en las instalaciones del Instituto Tecnol&oacute;gico de Mexicali el 18 de noviembre de 2017.
        </li>
        <li>
            El reglamento del torneo se puede consultar en la p&aacute;gina web del ITM: <a href="http://www.itmexicali.edu.mx/critmxli/">http://www.itmexicali.edu.mx/critmxli/</a>
        </li>
        <li>
            Los equipos deber&aacute;n participar en el taller de robotica. Los horarios para el taller se dar&aacute;n a conocer por correo electr&oacute;nico.     
        </li>
    </ul>

    <h2>Premios</h2>
    <ul>
        <li>
            Primer lugar, Kit de electrónica Arduino YUN para cada integrante del equipo y reconocimiento de primer lugar para los integrantes del equipo y su asesor.            
        </li>
        <li>
            Segundo lugar, Arduino YUN para cada integrante del equipo y reconocimiento de 2do. lugar para los integrantes del equipo y su asesor.            
        </li>
        <li>
            Tercer lugar, Arduino Mega256 para cada integrante del equipo y reconocimiento de 3er. lugar para los integrantes del equipo y su asesor.            
        </li>
        <li>
            A los participantes de cada equipo:
            <ul>
                <li>A todos los participantes se les entregar&aacute; reconocimiento de participaci&oacute;n.</li>
                <li>Reconocimiento a los asesores.</li>
                <li>A los participantes que cumplan con los requerimientos del taller de rob&oacute;tica se les otorgar&aacute;n 2 créditos complementarios.</li>
            </ul>
        </li>
    </ul>

    <h2>Contacto</h2>
    <ul>
        <li>Correo electr&oacute;nico: critmxli@itmexicali.edu.mx</li>
        <li>Facebook: <a href="https://www.facebook.com/CRITMxli/">www.facebook.com/critmxli</a></li>
    </ul>
</section>
{% endblock %}